$proj_green : #006100;
$proj_blue : #0052A3;
$proj_royal : #0000FF;
$proj_purple : #6B00D6;
$proj_redText : #B60000;
$proj_gray : #8080804d;
$proj_red : #A21041;
$proj_pink : #A80054;
$proj_orange : #993300;